<div class="navbar-center flex"></div>
    <ul class="menu menu-horizontal px-1">
    <!-- <li><a class="active" href="/about">About</a></li> -->
    <!-- <li>
        <details>
        <summary>View Projects</summary>
        <ul class="p-2 bg-base-100 right-0">
            <li><a href="/solutions/projects?sector=Energy">Energy</a></li>
            <li><a href="/solutions/projects?sector=Transport">Transport</a></li>
            <li><a href="/solutions/projects?sector=Agriculture">Agriculture</a></li> -->
            <!-- <li><a class="<%= (page == "/solutions/projects") ? 'active' : '' %>" href="/solutions/projects?sector=ind">Industry</a></li>
            <li><a class="<%= (page == "/solutions/projects") ? 'active' : '' %>" href="/solutions/projects?sector=ind">Transportation</a></li>
            <li><a class="<%= (page == "/solutions/projects") ? 'active' : '' %>" href="/solutions/projects?sector=ind">Electricity</a></li>
        </ul> -->
        <!-- </details>
    </li> -->
    <!-- <li>
        <a class="<%= (page == "/solutions/projects") ? 'active' : '' %>" href="/solutions/projects">View Projects</a>
    </li>
    <li>
        <a class="<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a>
    </li> -->
    <li>
    <a class="<%= (typeof page !== 'undefined' && page === '/solutions/projects') ? 'active' : '' %>"href="/solutions/projects">View Projects</a>
    </li>
    <li>
    <a class="<%= (typeof page !== 'undefined' && page === '/about') ? 'active' : '' %>"
        href="/about">About</a>
    </li>

    <!-- <li>
        <a class="<%= (page == "/solutions/addProject") ? 'active' : '' %>" href="/solutions/addProject">Add Project</a>
    </li> -->
    <!-- assignment 6 -->
    <% if (session && session.user) { %>
        <li>
            <details>
            <summary>Account: <%= session.user.userName %></summary>
            <ul class="p-2 right-0">
                <li><a class="<%= (typeof page !== 'undefined' && page === '/solutions/addProject') ? 'active' : '' %>"
                    href="/solutions/addProject">Add Project</a></li>
                <li><a class="<%= (typeof page !== 'undefined' && page === '/userHistory') ? 'active' : '' %>"
                    href="/userHistory">User History</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
            </details>
        </li>
        <% } else { %>
        <li>
            <details>
            <summary>Account</summary>
            <ul class="p-2 right-0">
                <li><a class="<%= (typeof page !== 'undefined' && page === '/login') ? 'active' : '' %>"
                    href="/login">Login</a></li>
                <li><a class="<%= (typeof page !== 'undefined' && page === '/register') ? 'active' : '' %>"
                    href="/register">Register</a></li>
            </ul>
            </details>
        </li>
        <% } %>
    </ul>
</div>
