
<div class="navbar-center flex"></div>
    <ul class="menu menu-horizontal px-1">
    <!-- <li><a class="active" href="/about">About</a></li> -->
    <!-- <li>
        <details>
        <summary>View Projects</summary>
        <ul class="p-2 bg-base-100 right-0">
            <li><a href="/solutions/projects?sector=Energy">Energy</a></li>
            <li><a href="/solutions/projects?sector=Transport">Transport</a></li>
            <li><a href="/solutions/projects?sector=Agriculture">Agriculture</a></li> -->
            <!-- <li><a class="<%= (page == "/solutions/projects") ? 'active' : '' %>" href="/solutions/projects?sector=ind">Industry</a></li>
            <li><a class="<%= (page == "/solutions/projects") ? 'active' : '' %>" href="/solutions/projects?sector=ind">Transportation</a></li>
            <li><a class="<%= (page == "/solutions/projects") ? 'active' : '' %>" href="/solutions/projects?sector=ind">Electricity</a></li>
        </ul> -->
        <!-- </details>
    </li> -->
    <li>
        <a class="<%= (page == "/solutions/projects") ? 'active' : '' %>" href="/solutions/projects">View Projects</a>
    </li>
    <li>
        <a class="<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a>
    </li>
    </ul>
</div>
